:root {
	--white: #fff;
	--blue: #6369d1;
	--black: #000807;
	--accent-brown: #816c61;
}

html {
	margin: 0;
	color: var(--black);
	line-height: normal;
	letter-spacing: normal;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--white);
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: start;
	height: 100vh;
	width: 100vw;
}

nav {
	display: flex;
	position: fixed;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background-color: var(--blue);
	height: 100%;
	gap: 0;
	padding: 1em;
	scroll-behavior: smooth;
}

nav a {
	width: 100%;
	height: 2em;
	text-decoration: none;
	font-size: 1.2em;
	text-align: center;
	margin: 0;
	display: flex;
	justify-content: left;
	align-items: center;
	transition: all 0.25s ease;
	white-space: nowrap;
	text-decoration: none;
	color: var(--black);
}

nav a:hover {
	cursor: pointer;
	color: var(--white);
}

main {
	overflow: clip;
	margin-left: auto;
	scroll-behavior: smooth;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	width: calc(100% - 236px - 32px);
	height: 100%;
	gap: 1em;
	padding: 2em 1em;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}

header div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 300px;
	background-image: url('../assets/headerBG.avif');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	color: var(--white);
	text-shadow: 2px 2px 2px var(--black);
}

h1 {
	margin: 0;
	font-size: 4em;
}

p {
	margin: 0;
	font-size: 1em;
}
